@model CartItem
@{
    Layout = "_GridLayout";
    var title = "Товар добавлен";
    ViewData["Title"] = title;
}
<h2>@title</h2>
<p>@Model.Product.Name количеством @TempData["productCount"] шт. добавлен в корзину</p>
<p><a class="pure-button button-success" asp-area="" asp-controller="Products" asp-action="Index">Продолжить покупки</a></p>


