@model IEnumerable<Product>

@{
    Layout = "_GridLayout";
    var title = "Продукты";
    ViewData["Title"] = title;
}

<h2>@title</h2>

<div class="add-button">
        <a href="/products/add" class="pure-button button-success">Добавить продукт</a>
</div>

<table class="pure-table pure-table-bordered product-table">
    <thead>
        <tr>
            <th>Название продукта</th>
            <th>Цена</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.Name</td>
                <td>@product.Price</td>
                <td class="product-actions">
                    <form class="pure-form buy-form" action="cart/add/@product.Id" method="get">
                        <input type="hidden" name="productId" value="@product.Id"/>
                        <input type="number" name="count" value="" placeholder="Количество"/>
                        <input type="submit" value="Купить" class="pure-button button-success" />
                    </form>
                    <a href="products/edit/@(product.Id)" class="pure-button button-warning">Редактировать</a>
                    <a href="products/delete/@(product.Id)" class="pure-button button-error">Удалить</a>
                </td>
            </tr>
        }
    </tbody>
</table>
