@model IEnumerable<Product>

@{
    Layout = "_GridLayout";
    var title = "Продукты";
    ViewData["Title"] = title;
}

<h2>@title</h2>

<div class="add-button">
        <a href="/products/add" class="pure-button button-success">Добавить продукт</a>
</div>

<table class="pure-table pure-table-bordered product-table">
    <thead>
        <tr>
            <th>Название продукта</th>
            <th>Цена</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.Name</td>
                <td>@product.Price</td>
                <td class="product-actions">
                    <form class="pure-form buy-form" action="cart/add/@product.Id" method="get" name="buyForm1">
                        <input type="hidden" name="productId" value="@product.Id"/>
                        <input type="number" name="count" value="" placeholder="Количество"/>
                        <input type="submit" value="Купить" class="pure-button button-success buy-button" />
                    </form>
                    <a href="products/edit/@(product.Id)" class="pure-button button-warning">Редактировать</a>
                    <a href="products/delete/@(product.Id)" class="pure-button button-error">Удалить</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="added-product hidden">
    <h3>Вы добавили продукт в корзину</h3>
    <p>Наименование: <span class="added-product-name"></span></p>
    <p>Стоимость: <span class="added-product-price"></span></p>
    <p>Количество: <span class="added-product-count"></span></p>
    <p><a class="pure-button button-warning" asp-area="" asp-controller="Cart" asp-action="Index">Просмотреть корзину</a></p>
    <p><a class="pure-button button-success buy-next">Продолжить покупки</a></p>
</div>

<script>
    var sendForm = function (th) {
        var xhr = new XMLHttpRequest();
        var form = th.parentNode;
        var productId = form.elements.productId.value;
        var count = form.elements.count.value;
        var params = '?count=' + count;
        var url = 'cart/add/' + productId + params;
        form.elements.count.value = null;
        xhr.open('GET', url, true);
        xhr.send();

        xhr.onload = function () {
            addedProduct = JSON.parse(xhr.response);
            document.querySelector('.added-product-name').innerHTML = addedProduct.productName;
            document.querySelector('.added-product-price').innerHTML = addedProduct.productPrice + ' руб.';
            document.querySelector('.added-product-count').innerHTML = addedProduct.productCount + ' шт.';
            document.querySelector('#overlay').classList.remove('hidden');
            document.querySelector('.added-product').classList.remove('hidden');
        }
    }

    var forms = document.querySelectorAll('.buy-button')
    for (var i = 0; i < forms.length; i++) {
        forms[i].addEventListener('click', function (evt) {
            evt.preventDefault();
            sendForm(this);
        });
    }

    document.querySelector('.buy-next').addEventListener('click', function (evt) {
        evt.preventDefault();
        document.querySelector('.added-product').classList.add('hidden');
        document.querySelector('#overlay').classList.add('hidden');
    });

        
</script>