@model Product

@{
    Layout = "_GridLayout";
    var formHeader = Model == null ? "Добавление продукта" : "Редактирование продукта";
    ViewData["Title"] = formHeader;
}

<form class="pure-form pure-form-stacked" asp-action="Save" method="post">
    <h3>@formHeader</h3>
    <input asp-for="Id" type="hidden" />

        <label asp-for="Name">Название</label>
        <input asp-for="Name" />

        <label asp-for="Price">Цена</label>
        <input  asp-for="Price" />


    <input class="pure-button button-success" type="submit" value="Сохранить" />

</form>